<div class="media">
    <div class="media__image">
        <svg class="icon icon--primary">
          <use xlink:href="/images/sprite.svg#snap"></use>
        </svg>
    </div>
    <div class="media__body">
      <h3 class="media__title">Easy start and manage update</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Sequi debitis sit delectus minus dignissimos facere, unde ad eos distinctio
        voluptas quaerat dolorum amet. Veniam eveniet eaque soluta laboriosam, ducimus
        labore doloribus ipsa. Ratione error totam facilis placeat sequi. Quis dolorem
        dicta voluptates officia deserunt omnis natus totam odio obcaecati esse.
      </p>
    </div>
  </div>